.home{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.create_form input{
    width:300px;
    padding: 10px;
    border-bottom: 2px solid;
    outline: none;
}
.create_form button{
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.task{
    background-color: black;
    color: white;
    display: flex;
    width: 350px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.checkBtn{
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius:8px ;
  font-weight: 500;
  color: #00000080;
  text-shadow: none;
  border:1px solid #00000080;
  transition: 0.3s ease;
  user-select: none;
  margin-right: 30px;
  size: 30px;
}

.checkBtn:hover {
  color:#ffffff;
  background: #008cff;
  border:1px solid #008cff;
  text-shadow:
  0 0 5px #ffffff,
    0 0 10px #ffffff,
      0 0 20px #ffffff;
  box-shadow:
  0 0 5px #008cff,
  0 0 20px #008cff,
  0 0 50px #008cff,
  0 0 100px #008cff, ;
}

.delBtn{
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius:8px ;
  font-weight: 500;
  color: #00000080;
  text-shadow: none;
  border:1px solid #00000080;
  transition: 0.3s ease;
  user-select: none;
  margin-left: 50px;
}
.delBtn:hover {
  color:#ffffff;
  background: #ff0000;
  border:1px solid #ff0000;
  text-shadow:
  0 0 5px #ffffff,
    0 0 10px #ffffff,
      0 0 20px #ffffff;
  box-shadow:
  0 0 5px #ff0000,
  0 0 20px #ff0000,
  0 0 50px #ff0000,
  0 0 100px #ff0000, ;
}
/* .taskText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
} */
.taskDone{
    background-color: black;
    color: white;
    display: flex;
    width: 350px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: line-through;
}